.container {
  max-width: 430px;
  margin: 50px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid #ddd;
}

h2 {
  text-align: center;
  color: #0510a7;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-weight: bold;
  font-size: 16px;
  color: #444;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #66afe9;
}

p {
  margin-top: 10px;
  font-size: 16px;
  color: #222;
}
